#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}
body{
  background-color: #030638;
  font-family:serif;
}
.app .heading h1{
  text-align:center;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.small-box{
  background-color: white;
  width: 100%;
  height: 35px;
  color:black;
  border-radius: 7px;
}

.add i{ 
 font-size: 43px; 
 cursor: pointer;
 color: grey;
}

.todos .todo{
display: flex;
justify-content: flex-start;
}
.todos .todo .left {
  margin: 5px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 40px;
  border-radius: 7px;
}
.todos .todo .left .checkbox{
  margin: 5px;
  background-color: #eee;

}
.todos .todo .left p{
color: grey;
font-size:medium;
font-weight: 500;
font-style: normal;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.todos .todo .left i{
  color: grey;
  margin-left: auto; 
  margin-right: 8px;
  font-size: 20px; 
 cursor: pointer;
}



